<div class="crm-container">

  <h1 crm-page-title>{{ts('API Logging Log')}}</h1>

  <div class="crm-form-block crm-section">

    <h2 class="panel-title">{{ts('Filter Log Entries')}}</h2>

    <form>

      <div class="crm-section">
        <div class="label">
          <label for="startDate">After date</label>
        </div>
        <div class="content">
          <input
            id="startDate"
            name="startDate"
            title="After date"
            ng-model="formValues.startDate"
            ng-change="searcher.freshSearch(getSearchParams())"
            crm-ui-datepicker="{time: true}"
          />
        </div>
      </div>

      <div class="crm-section">
        <div class="label">
          <label for="endDate">Before date</label>
        </div>
        <div class="content">
          <input
            id="endDate"
            name="startDate"
            title="Before date"
            ng-model="formValues.endDate"
            ng-change="searcher.freshSearch(getSearchParams())"
            crm-ui-datepicker="{time: true}"
          />
        </div>
      </div>

      <div class="crm-section">
        <div class="label">
          <label for="action">Calling contact</label>
        </div>
        <div class="content">
          <select
            id="callingContact"
            name="callingContact"
            title="Calling contact"
            class="big"
            multiple="multiple"
            ng-model="formValues.callingContact"
            ng-change="searcher.freshSearch(getSearchParams())"
            crm-ui-select="{
                  placeholder: 'Any',
                  allowClear: true,
                  }"
          >
            <option value=""></option>
            <option ng-repeat="option in options.callingContact" value="{{option.value}}">
              {{option.label}}
            </option>
          </select>
        </div>
      </div>

      <div class="crm-section">
        <div class="label">
          <label for="entity">Entity</label>
        </div>
        <div class="content">
          <select
            id="entity"
            name="entity"
            title="Entity"
            class="big"
            multiple="multiple"
            ng-model="formValues.entity"
            ng-change="searcher.freshSearch(getSearchParams())"
            crm-ui-select="{
            placeholder: 'Any',
            allowClear: true,
            }"
          >
            <option value=""></option>
            <option ng-repeat="option in options.entity" value="{{option.value}}">
              {{option.label}}
            </option>
          </select>
        </div>
      </div>

      <div class="crm-section">
        <div class="label">
          <label for="action">Action</label>
        </div>
        <div class="content">
          <select
            id="action"
            name="action"
            title="Action"
            class="big"
            multiple="multiple"
            ng-model="formValues.action"
            ng-change="searcher.freshSearch(getSearchParams())"
            crm-ui-select="{
              placeholder: 'Any',
              allowClear: true,
              }"
          >
            <option value=""></option>
            <option ng-repeat="option in options.action" value="{{option.value}}">
              {{option.label}}
            </option>
          </select>
        </div>
      </div>


      <div class="crm-submit-buttons">

        <span class="crm-button crm-i-button">
          <i class="crm-i fa-refresh"></i>
          <input
            type="button"
            crm-icon="fa-refresh"
            ng-click="refresh()"
            value="{{ts('Refresh Results')}}"
          />
        </span>

      </div>

    </form>

  </div>



  <div class="crm-results-block" ng-hide="searcher.results.isEmpty">
    <div class="crm-search-tasks">

      <h2>{{ts('Found %1 log entries.', {1: searcher.results.count})}}</h2>

    </div>

    <div class="crm-search-results">
      <table>
        <thead>
        <tr>
          <th>{{ts('Time stamp')}}</th> <!-- TODO indicate time zone-->
          <th>{{ts('Calling contact')}}</th>
          <th>{{ts('Entity')}}</th>
          <th>{{ts('Action')}}</th>
          <th>{{ts('Parameters')}}</th>
        </tr>
        </thead>
        <tbody
          infinite-scroll="searcher.continuedSearch(getSearchParams())"
          infinite-scroll-disabled="searcher.isBusy || searcher.results.isComplete"
          infinite-scroll-distance="1">
        <tr
          ng-repeat="row in searcher.results.data"
          ng-class-even="'even-row'"
          ng-class-odd="'odd-row'"
        >
          <td>{{row.time_stamp}}</td>
          <td>
            <a ng-href="/civicrm/contact/view?cid={{row.calling_contact_id}}&reset=1">
              {{row['calling_contact_id.display_name']}}
            </a>
          </td>
          <td>{{row.entity}}</td>
          <td>{{row.action}}</td>
          <td>{{row.parameters|formatJsonString}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>



  <div ng-show="searcher.results.isEmpty" class="crm-results-block crm-results-block-empty">
    <div class="crm-search-tasks">
      <h2>{{ts('No log entries found')}}</h2>
    </div>
  </div>


</div>
