<div class="crm-container">

  <h1 crm-page-title>{{ts('API Logging Log')}}</h1>

  <button ng-click="search()">Search</button>

  <table ng-show="results.values">
    <thead>
    <tr>
      <th>Time</th>
      <th>Calling contact</th>
      <th>Entity</th>
      <th>Action</th>
      <th>Parameters</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in results.values">
      <td>{{row.time_stamp}}</td>
      <td><a ng-href="/civicrm/contact/view?cid={{row.calling_contact_id}}&reset=1">
        {{row['calling_contact_id.display_name']}}</a>
      </td>
      <td>{{row.entity}}</td>
      <td>{{row.action}}</td>
      <td>{{row.parameters}}</td>
    </tr>
    </tbody>
  </table>

</div>
