<div class="crm-container">

  <h1 crm-page-title>{{ts('API Logging Log')}}</h1>

  <p>
    <label for="entity">Entity</label>
    <select
      id="entity"
      name="entity"
      title="Entity"
      class="big"
      multiple="multiple"
      ng-model="formValues.entity"
      ng-change="searcher.freshSearch(getSearchParams())"
      crm-ui-select="{
        placeholder: 'Any',
        allowClear: true,
        }"
    >
      <option value=""></option>
      <option ng-repeat="option in entityOptions" value="{{option.value}}">{{option.label}}</option>
    </select>
  </p>

  <p>
    <label for="action">Action</label>
    <select
      id="action"
      name="action"
      title="Action"
      class="big"
      multiple="multiple"
      ng-model="formValues.action"
      ng-change="searcher.freshSearch(getSearchParams())"
      crm-ui-select="{
        placeholder: 'Any',
        allowClear: true,
        }"
    >
      <option value=""></option>
      <option ng-repeat="option in actionOptions" value="{{option.value}}">{{option.label}}</option>
    </select>
  </p>

  <p>
    <label for="action">Calling contact</label>
    <select
      id="callingContact"
      name="callingContact"
      title="Calling contact"
      class="big"
      multiple="multiple"
      ng-model="formValues.callingContact"
      ng-change="searcher.freshSearch(getSearchParams())"
      crm-ui-select="{
              placeholder: 'Any',
              allowClear: true,
              }"
    >
      <option value=""></option>
      <option ng-repeat="option in callingContactOptions" value="{{option.value}}">{{option.label}}</option>
    </select>
  </p>

  <div>{{ts('Found %1 log entries.', {1: searcher.results.count})}}</div>

  <button
    crm-icon="fa-refresh"
    ng-click="searcher.freshSearch(getSearchParams())"
  >
    Refresh
  </button>

  <button
    crm-icon="fa-trash"
    crm-confirm="{message: ts('Are you sure you want to delete these %1 log entries?', {1: searcher.results.count})}"
    on-yes="delete()">
    {{ts('Delete these %1 log entries', {1: searcher.results.count})}}
  </button>


  <table ng-show="searcher.results.data">
    <thead>
    <tr>
      <th>Id</th>
      <th>Time</th>
      <th>Calling contact</th>
      <th>Entity</th>
      <th>Action</th>
      <th>Parameters</th>
    </tr>
    </thead>
    <!-- TODO: when we get to the bottom we need stop making XHR -->
    <tbody
      infinite-scroll="searcher.continuedSearch(getSearchParams())"
      infinite-scroll-disabled="searcher.busy"
      infinite-scroll-distance="1">
    <tr ng-repeat="row in searcher.results.data">
      <td>{{row.id}}</td>
      <td>{{row.time_stamp}}</td>
      <td><a ng-href="/civicrm/contact/view?cid={{row.calling_contact_id}}&reset=1">
        {{row['calling_contact_id.display_name']}}</a>
      </td>
      <td>{{row.entity}}</td>
      <td>{{row.action}}</td>
      <td>{{row.parameters}}</td>
    </tr>
    </tbody>
  </table>

</div>
